* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
}

.dashboard {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: rgb(67, 28, 28);
  color: white;
  padding: 20px;
  text-decoration-style: none;
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  padding: 12px;
  color: white;
  text-decoration-style: none;
  margin-bottom: 10px;
  border-radius: 4px;
}
 .menu{
 list-style: none;
 }

.sidebar nav a:hover,
.sidebar nav a.active {
  background: #2f4054;
}

.logout {
  background: #dc2626;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.back-btn {
  padding: 8px 15px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.back-btn:hover {
  background: #1e40af;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

thead {
  background: #240524;
  color: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

tbody tr:hover {
  background: #f1f5f9;
}
